html,body{
    margin:0;
    height: 100%;

}

body{
    display: flex;
    
 
}

.side-nav{
    background-color: aqua;
    padding-right: 200px;
    
    
}

.content{
    background-color: pink;
    flex-grow: 1;
}

